<div class = "footer">
    <div class = "footer-one">
        <ul type="none" style = "padding-left: 0px">
            <li class="lh"><i style = "color:white; display: inline" class = "fa fa-clock-o"></i>  Timings </li> 
            <li class="acontent li time">Ashtanga Yoga : 8:15 to 9:30am,</li>
            <li class="acontent li time">5:15 to 6:30pm</li>
            <li class="acontent li time">Power Yoga : 7:30 to 8:15am</li>
            <li class="acontent li time">Traditional Yoga : 6:45 to 7:30am</li>
        </ul>
    </div>
    <div class = "footer-two">
        <ul type="none" style = "padding-left: 0px">
            <li class="lh"><i style = "color:white; display: inline" class = "fa fa-bullseye"></i> Center</li> 
            <li class="acontent li centers">Ashtanga Yoga Shala</li>
        </ul>
    </div>
    <div class = "footer-three">
        <ul type="none" style = "padding-left: 0px">
            <li class="lh"><i style = "color:white; display: inline" class = "fa fa-question-circle"></i> Any Queries</li> 
            <li class="acontent li queries">Contact us: 9897069927</li>
            <li class="acontent li queries">Email: yoggurumohan@gmail.com</li>
        </ul>
    </div>
</div>

    
</body>
</html>