 <div class = "social" style="width: 40px; z-index:2">
    <a target="_blank" href="https://www.facebook.com/Yog-Guru-Mohan-357992318379718/?__tn__=%2Cd%2CP-R&eid=ARANCd8pF9nIdErKCt2kgACCXkwfG1CR9m8z623oM992_uobMXuhN_drpWG0GZmcs5gQTHcH6jAAWIIV" class= "facebook" ><i class = "fa fa-facebook"></i></a>

    <a class = "twitter" target="_blank" ><i class = "fa fa-twitter"></i></a>
    <a  target="_blank" href="https://www.youtube.com/channel/UCpRVMZKYCPRJilBmEg-Ak8w" class = "youtube" ><i class = "fa fa-youtube"></i></a>
</div>