<div class="jumbotron">
    <h1 style="text-align: center; padding-top: 10vh;font-size: 30px">WELCOME TO ASHTANGA YOGA SHALA, BAREILLY</h1><br><br><br>
    <h1 style="text-align: center; font-size: 30px">YOGA FOR FITNESS, WEIGHT LOSS, DEPRESSION, HYPERTENSION</h1> 
</div>