<div class="jumbotron" data-aos="fade-down" data-aos-duration="1000" data-aos-disable="mobile">
    <h1 style="text-align: center; padding: 2vh 0;font-size: 30px">WELCOME TO ASHTANGA YOG </h1>
    <% if (false) {%>
    <h1 style="text-align: center; font-size: 30px">YOGA FOR FITNESS, WEIGHT LOSS, DEPRESSION, HYPERTENSION AND MORE</h1> <br><br>
    <% } %>
</div>