<% include partials/header.ejs %>




<div class="left">
    <div class="container">
        
        <div class="title"> <h2>ASHTANGA YOGA</h2></div>

    <p>

    Ashtanga Vinyasa Yoga was created by K. Pattabhi Jois during the 20th century, often promoted as a modern-day form of classical Indian yoga.
    Ashtanga means eight limbs or branches of yoga mentioned in
    the Yoga Sutras of Patanjali, of which asana of physical yoga
    posture is merely one branch, breath or pranayama is another. Both
    Pattabhi Jois and Sharth Jois, his grandson, encourage practice
    of Ashtanga Yoga- eight limbs. The first two limbs - Yamas
    and Niyamas - are given special emphasis to be practiced
    in conjunction with the 3rd and 4th limbs(asana and prayama).
    </p>

    <p>
    Usually an Ashtanga practice begins with five repetitions
    of Surya Namaskara A and five repetitions of Surya Namaskara
    B, followed by a standing sequence. Following this the practitioner
    goes through one of six series, followed by a standard
    closing sequence.
    <br>
    The six series are:
    <ul type="none" style="font-size: 1em; color: black; margin-left: 8%; padding-left: 0px">
    <li>1. Primary series : Yoga Chikitsa, Yoga for health and Yoga Therapy</li>
    <li>2. The Intermediate series : Nadi Shodhana, The Nerve Purifier(Second series)</li>
    <li>3. The Advanced series: Sthira Bhaga, centering of strength</li>

    <ul type="none" style="font-size: 1em; color: black; margin-left: 8%; padding-left: 0px">
    <li>   1. Advanced A, or Third series</li>
    <li>   2. Advanced B, or Fourth series</li>
    <li>   3. Advanced C, or Fifth series</li>
    <li>   4. Advanced D, or Sixth series</li>
    </ul>
    </ul>
    </p>
    <p>
    Ashtanga vinyasa yoga emphasizes certain main components, namely tristhana("three places
    of action or attention", or the more physical aspects of poses) and vinyasa
    (the alignment of breaths with movement).
    </p>
    <p>
    Tristhana means the three places of attention or action: breathing system (pranayama),
    posture (asana),and looking place(drishti).
    These are considered core concepts for ashtanga yoga practice; cover the
    three levels of purification : the body, the nervous system, the mind; and 
    are supposed to be "performed in conjunction with each other".
    </p>
    <p>
    Vinyasa is the alignment of breaths with movements in asanas while 
    practicing yoga. Founder Pattabhi Jois states, Vinyasa means 'breathing
    system'.Without vinyasa, don't do asana. When vinyasa is perfect, the mind is 
    under control". For each movement there is one breath.All asanas are assigned
    a certain number of vinyasas.
    </p>
    <p>
    Breath is also important component of Ashtanga Yoga. According to 
    Pattabhi Jois we should inhale and exhale for around 10 to 15 seconds.
    </p>
    <p>
    Bandhas are one of the three key principles in Ashtanga Vinyasa Yoga, alongside breath
    and drishti.There are three principle bandhas which are considered internal
    body locks:
    </p>
    <ul type="none" style="font-size: 1em; color: black; margin-left: 8%; padding-left: 0px">
    <li>1. Mula bandha; or root lock at the pelvic floor(drawing in the perineum)</li>
    <li>2. Uddiyana bandha; drawing back the abdomen, 2 inches below the navel</li>
    <li>3. Jalandhara bandha; throat lock, achieved by lowering the chin slightly while raising the sternum</li>
    </ul>

    <p>
    Mantras are also chanted in Ashtanga practice.
    </p>
    <!-- <iframe  class="video" src="https://www.youtube.com/embed/rLu9iWfTeWw?autoplay=0"></iframe> -->
    <!-- <video width="420vw" height="300vw" style="margin:auto; display:block" controls> -->
        <!-- <source src="video.mp4" type="video/mp4"></video> -->

    <br>

    </div>
</div>







<% include partials/footer.ejs %> 