<% include partials/header.ejs %>


<div style = "min-height: 700px">
	<form method="post" action = "/articles/<%= article._id.toString() %>?_method=PUT" enctype="multipart/form-data"style = "margin: auto; height: 100%">

	  <div class = "form">
	      <h1 style="text-align: center; color:purple"> YOUR ARTICLE</h1> 
	      <input name="newart[title]" type="text" value="<%= article.title %>" title="name" required><br>
		  <input name="newart[description]" type="text" value="<%= article.description %>"  title="description" required><br>
		  <input name="filetoupload" type="file" title = "image"><br>
		  <textarea name = "newart[content]" style="height: 60vh; width: 80%;margin-left:10%" required><%= article.content %></textarea>
		  <input type=submit value="SUBMIT">
	     
	  </div>
	</form>
</div>



<% include partials/footer.ejs %>