<% include partials/header.ejs %>

<% if (success.length) { %>
<h1 style = "background-color: #e1fae1; color: green; text-align: center; width: 90%; margin: auto; font-size: 1.0em; margin-top:42px"> <%= success %> </h1>
<% } %>
<form method="post" action = "/join" style = "margin: auto">

  <div class = "form">
      <h1 style="text-align: center; color:purple"> JOIN NOW </h1> 
	  <input name="request[name]" type="text" placeholder="Name" title="name" value="<%=currentUser.name %>" required><br>
	  <input name="request[mobno]" type="text" placeholder="Mobile number" title="mobile number" value="<%= currentUser.mobno %>"required><br>
	  
	  <input name="request[email]" type="text" placeholder="email id" title="email id" required><br>
	  <input name="request[address]" type="text" placeholder="Address" title="address" value="<%=currentUser.address %>" required><br>
	  <input name= "request[purpose]" type="text" placeholder= "Purpose of joining the center(fitness, depression,etc)" title="purpose"  required><br>
	  <input type=submit value="SUBMIT">
     <p style="text-align: center"> You will be notified as soon there are seats present in our center via email.</p>
  </div>
</form>




</body>
</html>