<% include partials/header.ejs %>



<form method="post" action = "/login" style = "margin: auto">

  <div class = "form">
      <h1 style="text-align: center; color:purple"> LOGIN </h1> 
	  <input name="username" type="text" placeholder="Username" title="Username" required><br>
	  <input name="password" type="password" placeholder="Password" title="Password" required><br>
	  <input type=submit value="LOGIN">
     
  </div>
</form>




</body>
</html>