<% include partials/header.ejs %>


<div style = "min-height: 700px">
	<form method="post" action = "/articles" enctype="multipart/form-data" style = "margin: auto; height: 100%">

	  <div class = "form">
	  	  
	      <h1 style="text-align: center; color:purple"> YOUR ARTICLE</h1> 
	      <input name="newart[title]" type="text" placeholder="Title" title="name" required><br>
		  <input name="newart[description]" type="text" placeholder="Description" title="description" required><br>
		  <input name="filetoupload" type="file" placeholder = "choose image"><br>  
		  <textarea name = "newart[content]" style="height: 60vh;width: 80%;margin-left:10%;"required></textarea><br>
		  <input type=submit value="SUBMIT">
	     
	  </div>
	</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


<% include partials/footer.ejs %>