<% include partials/header.ejs %>


<div class= "container">
     <div class ="title" style="text-align: center;"> ASHTANGA YOGA SHALA </div>
     <br>
     <div style = "height: 450; width: 80vw; border: 2px solid grey;margin:auto;margin-bottom:40px;box-sizing:border-box">
          <iframe width="600" height="450" frameborder="0" style="border:0;margin:0px" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCY1p49gAoDkRPA_gNtlTDVA&key=AIzaSyCCgPFXD7dVfWvKF5ltT7cyxJ5dx-cmbj0" allowfullscreen></iframe>
     </div>
     
    
      
     <p>Our center is located at Civil lines, Bareilly. It was established 10 years ago. The styles of yoga taught in our center are 
     Ashtanga, Power and traditional. Yoga is very beneficial for the purpose of fitness, weight loss or to get rid of other diseases like hypertension(high blood pressure), depression and others. People who have joined our center have been greatly benefitted.
     </p>
     <p>If you wish to join the center then you can contact us directly or you can post a join request in our website. As there are limited seats you will be informed if your request has been accepted.
     </p>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
</div>

<% include partials/footer.ejs %>