<% include partials/header.ejs %>


<div class= "container">

     <h1 style="text-align: center; color: purple"> ASHTANGA YOGA SHALA </h1>
     <div><img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/60830960_390987251746891_8439509766253838336_o.jpg?_nc_cat=101&_nc_oc=AQm2lj2AZ0r3CJI2OOZatlTBo_6zgj2LOpWSD_AbncsPl18m1DVqjXO8paKXGH0g0vU&_nc_ht=scontent-bom1-1.xx&oh=47a4c8cccd1804e737b9218c229a42b6&oe=5D8007F4" style="width: 90%;max-height:100vh " >
     <p style="text-align:center">Celebrating International Yoga Day </p>
      </div>
       
      <br>
      
     <p>Our center is located at Civil lines, Bareilly. It was established 5 years ago. The styles of yoga taught in our center are 
     Ashtanga, Power and traditional. Yoga is very beneficial for the purpose of fitness, weight loss or to get rid of other diseases like hypertension(high blood pressure), depression and others. People who have joined our center have been greatly benefitted.
     </p>
     <p>If you wish to join the center then you can contact us directly or you can post a join request in our website. As there are limited seats you will be informed if your request has been accepted.
     </p>
</div>

</body>
</html>