

<% include partials/header.ejs %>


<div class="left">
<div class="container">
    
    <div class="title"> <h2>POWER YOGA </h2></div>

<p class="first-para">

Power Yoga is another style of yoga which has Ashtanga Yoga as its roots.It is a series of intense workout that will make you
sweat. It is similar to the traditional Ashtanga Yoga practice, you have to hold each pose for about five minutes before moving
through a Vinyasa. These poses are a little bit harder to hold.
</p>
<p>
It is quite effective in improving the physical strength of the body. You need to make effort to it which is not that easy
task to do.
</p>

<!-- <iframe  class="video" src="https://www.youtube.com/embed/rLu9iWfTeWw?autoplay=0"></iframe> -->
<!-- <video width="420vw" height="300vw" style="margin:auto; display:block" controls> -->
    <!-- <source src="video.mp4" type="video/mp4"></video> -->

<br>

</div>







<% include partials/footer.ejs %> 