<% include partials/header.ejs %>



<form method="post" action = "/signup" style = "margin: auto">

  <div class = "form">
      <h1 style="text-align: center; color:purple"> SIGN UP </h1> 
	  <input name="username" type="text" placeholder="Username" title="Username" required><br>
	  <input name="password" type="password" placeholder="Password" title="Password" required><br>
  	  <input name="name" type="text" placeholder="Full name" title="Full name" required><br>
  	  <input name="mobno" type="text" placeholder="Mobile number" title="Mobile number" required><br>
	  <input name="address" type="text" placeholder="Residential Address" title="Residential Address"><br>

 	  <input type=submit value="SIGN UP">
    
  </div>
</form>




</body>
</html>