<% include partials/header.ejs %>


<div class="left">
<div class="container">
    
<div class="title"> <h2>TRADITIONAL YOGA</h2></div>
<p>Traditional yoga is quite light weight with lesser emphasis on the postures than in breathing. It is more suitable for 
those with comparatively less active bodies especially those above the age of 50.
</p>
<br>

</div>
    







<% include partials/footer.ejs %> 