<% include partials/header.ejs %>



<div class="right">
<div class="aside">
        <div class= "title"> YOGA VIDEOS</div>
        <p>These are some of the yoga videos. To watch more beneficial videos for your health you can find a link <a  target="_blank" href="https://www.youtube.com/channel/UCpRVMZKYCPRJilBmEg-Ak8w" style="color:blue">here</a> </p>

    <% for (var i = 0; i<videos.length; i++) { %>
    <div style="width: 300px; border:1px solid #eee8e8;box-sizing:border-box;display:inline-block;margin:auto;height: 310px;margin-bottom:4px">
                <iframe  class="video" allowfullscreen="" src= "<%= videos[i].src %>" ></iframe>
                <div class = "videotitle"> <%= videos[i].title %> </div>
                
     </div>
   
     <% if (currentUser && currentUser.username === 'admin') { %>
                  <form method="post" action="/videos/<%= videos[i]._id.toString() %>?_method=DELETE" style="width: 60px;float: right">
                       <input style ="width: 100%; height: 22px" type = "submit" value="Delete">
                  </form>
     <% } %>
    
    <% } %>
     </div>
</div>
<% if ( currentUser && currentUser.username === 'admin') { %>
<div style = "margin-top: 50px;margin-bottom: 100px">
<form method="post" action = "/videos" style = "margin: auto">

  <div class = "form">
      <h1 style="text-align: center; color:purple"> ADD VIDEO </h1> 
    <input name="video[title]" type="text" placeholder="Title" title="Title" required><br>
    <input name="video[src]" type="text" placeholder="Video url" title="Video url" required><br>
    <input type="submit" value="ADD VIDEO">
  </div>
</form>
<button class = "button" style="margin:auto;display:block"><a style = "color:blue"href="/videos/fetch">Fetch Videos From Youtube</a></button>
</div>



<% } %>

<% include partials/footer.ejs %>