<% include partials/header.ejs %>



<div class="left">
<div class="container">
    
    <div class="title"> <h2>BENEFITS OF YOGA</h2></div>

<p class="first-para">
    Health benefits of yoga have been verified by many scientific studies. Here are some of the good 
effects of practicing yoga.</p>
<h3 class="imargin">Improves Posture</h3>
<p>
Sitting while working bends your spine for a long time thereby adversely affecting your posture.
Regular practice of yoga can help you avoid this situation and recover it.
</p>
<h3 class="imargin"> Results in better concentration</h3>
<p>Many yoga asanas involve gazing at some part of the body.Moreover, many asanas make some effort thereby
improving concentration.
</p>
<h3 class="imargin">Removes toxins</h3>
<p>Many asanas involve engagement of abdominal and digestive organs which stimulates eradication of toxins from our body.
</p>

<h3 class="imargin"> Lowers blood sugar</h3>
<p>It lowers blood sugar and bad cholestrol and boosts good cholestrol.It also helps reduce body weight.
</p>
<h3 class="imargin">Helpful in certain diseases</h3>
<p>Yoga is quite beneficial to the patients suffering from heart disease, anxiety, arthritis and can help reduce symptoms and side effecs of cancer.
</p>
 

<br>

</div>


<% include partials/footer.ejs %>