

body {
	margin:0px;
	font-size: 1.1rem;
	background-color: white;
	min-height: 100vh;
	font-family: proxima-nova,helvetica,arial ;
	word-spacing: 3px;
	letter-spacing: 0.6px;
}

p {
	padding: 1% 3% 0% 3%;
	color: black;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;

}
pre {
	padding: 1% 3% 0% 3%;
	color: black;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
}
.imargin {
	margin-left: 8%;
}
html {
	margin-right: 0px;
    min-height: 100vh;
    scroll-behavior: smooth;
}
.center {
	text-align: center;
}
.first-para {
	padding-left : 3%;
	padding-top:1%;
}
.navbar-header {
	text-transform: capitalize;
    line-height: 100%;
	
}

.border {
	border: 1px solid #dee2e6;
}

.button:hover {
	transform: scale(1.05);
	background-color: rgb(11, 69, 200) ;
}

.navbar {
	background: #010101;
	margin-top:0px;
	width: 100vw;
	height: 42px;
	box-sizing: border-box;
    position: fixed;
    z-index: 40;
    top:0px;

}
.nav li:hover {
	

}
.nav {
	height: 100%;
    margin-top:0px;
    box-sizing: border-box;
    display: inline-block;
    
}
.adjust {
	
}
.nav li {
	 float: left;
     list-style-type: none;
     margin-left: 0px;
     padding-right:10px;
     padding-top:10px;
     height: 100%;
     display:inline-block;
     box-sizing: border-box;
     font-size: 1.0em;
    
}

.active {
	border-bottom: 2px solid white;
}

.thumbnails {
	
   padding: 0.25rem;
   background-color: #fff;
  /*border: 1px solid #dee2e6;*/
   border-radius: 0.25rem;
   width: 90%;
   height: auto;
   transition: transform .2s;
    margin: auto;
    margin-bottom: 4%;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 2px 2px #dee2e6;
    display: block;
      color: red;
}
a {
	color: #b5b5b5;
	text-decoration: none;
}
a:hover {
	color : purple;
}
.thumbnails:hover {
  display: inline-block;
  transform: scale(1.1);
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}
img {
	border: 1px solid grey;
	padding: 2px;
	max-width: 90%;
	max-height: 400px;
    margin: auto;
    display: block;
}
.styles {
	
	width: 80%;
	margin: auto;
	text-align: center;
	color: black;
	font-size: 1.1rem;
	box-sizing: border-box;

}
.container {
	width: 100%;
	margin: auto;
	background-color:#fafbff;
	border: 2px solid white;
	color: black;
    /*border: 2px solid #f0ecec ;*/
	margin-top: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-family: "arial" ;
	font-weight: 200;
	color: #333;
    border-radius: 0.5rem;
    height: auto;
    box-sizing: border-box;
    
  

	display: inline-block;

}

hr {
	width: 80%;
	border: 0px;
	height: 1px;
	background-color: #d3c5c5;
	margin: 20px auto;
}
.title {
	padding-left:3%;
	color: purple;
	text-align: center;
	transition: transform 0.1s;
}
.title:hover {
	transform: scale(1.2);
}
.right {
	width: 100%;
	margin: auto;
}
.aside {
	/*border: 2px solid #f0ecec;*/
    border: 1px solid white;
    width: 100%;
	padding:0 2% 2% 2%;
	text-align: center;
	color: purple;
	padding: 0px;
	box-sizing: border-box;
	margin: auto;
	margin-top: 20px;
	background-color: white;	
}
.lh {
	font-size: 1.2rem;
	color: white;
}
.li {
	
}
.aside ul {
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.aside ul li {
    height: 20px;
    padding-top: 5px;
}
.acontent {
	font-size: 1rem;
	color: #ffffff;
}
.jumbotron {
	width:100vw;
	/*height: 80vw;*/
	/*background-image: url('image1.jpg');*/
	background-size: contain;
	background-repeat: no-repeat;
    border-radius: 2%;
   	/*margin: auto;*/
   /*	margin-top: 30px;*/
}

.jumbotron h1 {
    /*margin:0px 40px;*/
    margin-top: 0px;
	font-size : 40px;
}


.button {
	user-select: none;	
	border-radius:8px;
	text-align: center;
	color: #230326;
	/*font-weight:700;*/
	display: block;	
	background-color: rgb(19,136,251,1);
    transition: transform 0.1s;
    /*width: 100px;*/
    height: 30px;
	font-size: 1.0em;
	padding-top: 4px;
	box-sizing: border-box;
	border: 1px solid rgb(19,136,251,1);
	margin: auto;
}

h1 {
	transition: transform 0.1s;
	box-sizing: border-box;
}
h1:hover {
	
}
.animation-element {

}
h3 {
	margin: auto;
	margin-bottom: 0%;
	text-align: center;
	color: #000880;
}
h2 li {
	display:inline-block;
	  padding-left:8px;
	  padding-right:8px;

}
h2 li:hover {
	border-bottom:1px solid black;
}
.left {
	width: 60%;
    margin: auto;
}
.margin-auto {
	margin: auto;
}

/*::selection {*/
	
	/*}*/


ul {
font-size: 20px;

}
h2 {
	margin:1%;
	margin-top:4%;
	font-size: 1.2rem;
	transition: transform 0.2s;
}
h2:hover {

	transform: scale(1.5);
}
iframe:hover {
	/*transform: scale(1.1);*/
	
}
iframe {
	
	width: 100%;
	height: 40vw;
	margin: 2% 0;
	margin-bottom: 0px;
    transition: transform 0.1s;
	max-width: 100%;
	box-sizing: border-box;
}
.footer {
	width : 100%;
    background-color: #000000;
	margin-bottom: 0px;
	padding-bottom: 100px;
	padding-top: 50px;
	
}

.videotitle {
	color: black;
	margin-top: 0px;
	text-decoration: underline;
	display: inline-block;
	padding:4px;
	box-sizing:border-box;
	border: 1px solid white;
	float:left;
}

.video{
	width: 300px;
	height: 250px;
	margin: 0px;
}
.thumbnails1 {
   width: 299px;
   height: 169px;
   margin: auto;
}

.social {
	position: fixed;
	left: 2px;
	top: 200px;
	background-color: #000d53;
	color: white;
	font-size: 20px;
	margin: auto;
	
	
}

i {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	background-color: inherit;
	color: inherit;
 
}


.form {
	margin: auto;
	margin-top: 10vw;
	width: 60%;
	height: 40vw;
	box-sizing: border-box;
}

form {
	width: 100%;
}
input[type="text"] {
	width: 50%;
	height: 30px;
	margin: auto;
	display: block;
	border: 1px solid #c9c8c8;
	border-radius: 0.5rem;
	padding-left: 5px;
}
input[type="password"] {
	width: 50%;
	height: 30px;
	margin: auto;
	display: block;
	border: 1px solid #c9c8c8;
	border-radius: 0.5rem;
	padding-left: 5px;
}
input[type="submit"] {
	width:25%;
	height: 40px;
	margin: auto;
	display: block;
    

}

.bar {
	width: 30px;
	height: 5px;
	margin: auto;
	margin-top: 6.25px;
	background-color: white;
   
}
.hamburger {
	width: 40px;
	height: 40px;
	padding: 0px;
	display: none;
}
.menu {
	z-index: 800;
	background: black;
	width: 100%;
	top:40px;
	margin: 0px;
	color: white;
	padding-left: 2px;
	position: fixed;
}

.time, .centers, .address, .queries {
	
}
.post {
	 width: 80%;
	 margin: auto;
}

.comments {
   width: 80%;
   min-height: 40px;
   background-color: #7898fd;
   margin: auto;
   margin-bottom: 20px;
   border-radius: 2.0em;
   box-sizing: border-box;
   padding: 2px;
}

.comment-content {
	width: 100%;
	display: inline-block;
	font-family: "tempus Sans itc" ;
}
.comment-content p {
  color: #0b2d89;
 }
.article {
	width: 95%;
	margin: auto;
	margin-top: 40px;
	border: 1px solid white;

}

.article-content {
	border: 1px solid white;
	width: 95%;
	margin: auto;
}

.article-content img {
	max-height: 40vh;
	margin: auto;
	margin-top: 5vh;
}
.jumbotron {
	width: 100%;
	/*min-height: 50vh; */
	text-align: center;
	background-color: #5a0080;
	margin-top: 0px;
	border-radius: 0px;
	color: white;
	box-sizing: border-box;
}
.profiles {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	font-size: 1.2em;
}
.edit, .delete {
	display: inline;
	border: 0px;
	background-color: inherit;
	text-decoration: underline;
	height: 22px;
	color: blue;
    float: none;
}
.reply1 {
	width: 80%;
	margin: auto;
}
.faqs {
	width: 90%;
	margin: auto;
}
.faqs h1 {
	color: #001699;
	text-align: center;
}
.faqq {
	padding-left: 2px;
	font-size: 1.2em;
	color: green;
}
.faqa {
	padding-left: 2px;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.images {
	width: 95vw;
    margin: auto;
    margin-top: 44px;
}
.slideshow {
	position: relative;
	margin: auto;
    margin-top: 44px;
    max-width: 800px;
    box-sizing:border-box;

}
@keyframes fade {
	from {opacity: 0.4;}
	to {opacity: 1.0;}
}
.fade  {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1s;
   animation-name: fade;
   animation-duration: 1s;
}
.picture {
	display:none;
}

.picture img {
	height: 40vh;
	max-height: 400px;
	max-width: 600px;
	margin: auto;
}

#previousbutton {
	position: absolute;
	top: 50%;
	left: 0px;

}
#nextbutton {
	position: absolute;
	top: 50%;
	right: 0px;
}
.slideshowtext {
	position: absolute;
	bottom: -44px;
	left: 5%;
	margin:auto;
	text-align: center;
	width: 90%;
	padding-top: 0.5rem;
	background-color: black;
	height: 2.0rem;
	color: white;
	opacity: 0.5;

}
.footer-one {
	width:30%;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
    float: left;
    margin: auto;
    margin-bottom: 0px;
}
.footer-two {
	width:30%;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	float: left;
	margin: auto;
    margin-bottom: 0px;
}
.footer-three {
	width:30%;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	margin: auto;
	margin-bottom: 0px;	
}
@media screen and (max-width:800px) {
	.left {
		width: 95%;
		margin: auto;
		margin-top: 2%;
	}
    .container {
    	margin: auto;
        margin-bottom: 2%;
    }
	
	.right {
		width: 95%;
		float :none;
		margin:auto;
		margin-top: 1%;
	}
    .aside {
    	width: 100%;
    	box-sizing: border-box;
    	margin-bottom: 2%;
    }
    .form {
    	width: 100%;
    }
    iframe {
    	height: 64vw;
    }
    .picture img{
        
    	width: 95vw;
    }
    .footer-one {
    	width: 80%;
    	float: none;
    	display: block;
    	margin: auto;
    }
    .footer-two {
    	width: 80%;
    	float: none;
    	display: block;
    	margin: auto;
    }
    .footer-three {
    	width: 80%;
    	float: none;
    	display: block;
    	margin: auto;
    }
    .nav {
		display:none;
	}
	.hamburger {
		display: inline-block;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width:480px){
	.button{
		height: 30px;
		font-size: 1.0em;
		padding-top: 4px;
	}
	.nav  {
		padding-left: 4px;
	}
	.nav li {
		font-size: 1.0em;
	}
	.navbar {
		height: 42px;
	}
	input[type="text"] {
		width: 240px;
	}
	input[type="password"]{
		width: 240px;
	}
    .footer-one {
    	width: 80%;
    	float: none;
    	display: block;
    	margin: auto;
    }
    .footer-two {
    	width: 80%;
    	float: none;
    	display: block;
    	margin: auto;
    }
    .footer-three {
    	width: 80%;
    	float: none;
    	display: block;
    	margin: auto;
    }
}




.facebook {
	background-color: blue;
	color: white;
	display: block; height: 40px;
}
.twitter {
	background-color: #00aeff;
	display: block; height: 40px;
	color : white;
}
.youtube {
	background-color: #b61919;
	display: block;
	height: 40px;
	color: white;
}
.facebook:hover {
	background-color: white ;
	color: blue;
	height: 40px;
}

.twitter:hover {
	background-color: white ;
	color: #00aeff;
	height: 40px;
}
.youtube:hover {
	background-color: white;
	color: #b61919;
	height: 40px;
}
.instagram {
	background-color: #e1306c;
	display: block;
	height: 40px;
	color: white;
}
.instagram:hover {
	background-color: white;
	display: block;
	height: 40px;
	color: #e1306c;
}
.linkedin {
	background-color: #0077b5;
	display: block;
	height: 40px;
	color: white;
}
.linked:hover {
	background-color: white;
	display: block;
	height: 40px;
	color: #e1306c;
}